body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px;
  padding: 0px;
}
p {
  font-family: "Open Sans", sans-serif !important;
}

.hover:hover {
  cursor: pointer;
  background-color: #eeeeee !important;
}

.home-background {
  background-color: #ffff;
}

.jobs-background {
  height: 63.5vh;
  background-color: #ffff;
}

.browse-btn {
  transition: 0.3s;
}

.browse-btn:hover {
  transform: scale(1.05);
}
.nav-link {
}
.nav-link:hover {
  transform: scale(1.02);
}

.apply a {
  visibility: hidden;
}

#card:hover .apply a {
  visibility: visible;
}

.apply a {
  transition: 0s;
}

@media only screen and (max-width: 1000px) {
  .header-main-text {
    font-size: 24px !important;
  }
  .header-sub-text {
    font-size: 14px !important;
  }

  .navbar-nav {
    margin-left: 15px !important;
  }

  .nav-btn {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
}

.single-job:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
